#sidebar {
  position: fixed;
  top: 52px;
  left: 0;
  bottom: 0;
  width: 18%;
  background-color: #f5f5f5;
  padding: 0;
}
#sidebar .ui.menu {
  margin: 2em 0 0;
  font-size: 16px;
}
#sidebar .ui.menu > a.item {
  color: #4C5155;
  border-radius: 0 !important;
}
#sidebar .ui.menu > a.item.active {
  background-color: #4C5155;
  color: white;
  border: none !important;
}
#sidebar .ui.menu > a.item:hover {
  background-color: #4C5155;
  color: white;
}

#main {
    height: 100%;
    overflow:auto;
    overflow-y:scroll;
}

#content {
  margin-left: 19%;
  width: 81%;
  margin-top: 3em;
  padding-left: 3em;
  float: left;
}
#content > .ui.grid {
  padding-right: 4em;
  padding-bottom: 3em;
}
#content h1 {
  font-size: 36px;
}
#content .ui.divider:not(.hidden) {
  margin: 0;
}
#content table.ui.table {
  border: none;
}
#content table.ui.table thead th {
    border-bottom: 2px solid #eee !important;
}