SERVER_NAME='localhost:8080'
DEBUG=False
SECRET_KEY= # initialize before using, see readme
GOOGLE_OAUTH_CLIENTID= #initialize before using, see readme
GOOGLE_OAUTH_SECRET= #initialize before using, see readme
SQLALCHEMY_DATABASE_URI='sqlite:///meme.db'
SQLALCHEMY_TRACK_MODIFICATIONS=False
REDDIT_CLIENT_ID= #initialize before using, see readme
REDDIT_CLIENT_SECRET= #initialize before using, see readme
REDDIT_USERNAME= #initialize before using, see readme