{% extends "layout.html" %}

{% block body %}

<!-- Nav bar -->
<nav class="ui fixed fluid borderless huge menu">
        
    <!--Header-->
    <a class="header item" href="/">
        <div class="ui basic icon">
            <i class="pointing right icon"></i>
        </div>
        Meme Messenger  
        <div class="ui basic icon">
            <i class="pointing left icon"></i>
        </div>
    </a>

    <!-- Right menu -->
    <div class="right menu">

        <!--Check if logged in first-->
        <a class="item" href="/auth/logout">
            Log Out 
            <div class="ui basic icon">
                <i class="pointing down icon"></i>
            </div>
        </a>
    </div>
    
</nav>
    



        
<div class="ui centered  raised container  grid segment">
<div class="ui left aligned grid">
    <div class="one column center aligned row">
        <div class = "center aligned 
        column">
            <h3 class="ui top attached block header">
                Account Info
            </h3>
        </div>
    </div>
     
    <!-- Username row -->
    <div class="two column row">
        
        <div class= "left right aligned column">
            <div class="ui big label">
                Username: 
            </div>
        </div>

        <div class="right  column">
            <div class="ui action input">
                <input type="text" value={{ user_data["username"] }}>
                <button class="ui positive basic  button" data-content="Submit a username change">
                    Change
                    <i class="setting right icon"></i>
                </button>
            </div>
        </div>

    </div>
    

    <!-- Privacy row -->
    <div class="two column row">

        <div class="left right aligned column">
            <div class="ui big label">
                Privacy: 
            </div>
        </div>
        
        <div class="right  column">
            <div class="grouped fields">
                <div class="field">
                    {% if user_data["privacy"]=="friends" %}
                    <div class="field">
                        <div class="ui slider checkbox">
                            <input type="radio" name="throughput" checked="checked">
                            <label>Visible to friends</label>
                        </div>
                    </div>
                    <div class="ui slider checkbox">
                        <input type="radio" name="throughput" checked="">
                        <label>Visible to everyone</label>
                    </div>
                    {% else %}
                    <div class="field">
                        <div class="ui slider checkbox">
                            <input type="radio" name="throughput" checked="">
                            <label>Visible to friends</label>
                        </div>
                    </div>
                    <div class="ui slider checkbox">
                        <input type="radio" name="throughput" checked="checked">
                        <label>Visible to everyone</label>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>  
    
    <!-- Blocked users rows-->
    <div class="two column row">
        <div class="left right aligned column">
            <div class="ui big label">
                Blocked Users: 
            </div>
        </div>

        <div class="right column">
            <div class="ui action input">
                <input type="text" placeholder="User to block...">
                <button class="ui negative basic  button" data-content="Block normies from messaging you">
                    Block
                    <i class="window close right icon"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="two column row">
        <div class="right column">
            <div class="ui container">
                {% for user in user_data["blocked_users"] %}
                <div class="top attached ui segment">
                    {{ user }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

            
</div>
</div>

<!--
    
    <button class="negative ui button">Change Username</button>
    <img class="medium rounded ui left floated image" src="/static/images/default_dog_meme.png">
        

        {% if user_data["view_self"] %}
        <div class="ui">
            <h3 class="ui header">Privacy Settings </h3>
            <div class="ui form">
                <div class="grouped fields right floated">
                    <label>Profile Visiblity</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            {% if user_data["privacy"]=="everyone" %}
                                <input type="radio" name="privacy" checked="checked">
                            {% else %}
                                <input type="radio" name="privacy">
                            {% endif %}
                            <label>Public</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            {% if user_data["privacy"]=="friends" %}
                                <input type="radio" name="privacy" checked="checked">
                            {% else %}
                                <input type="radio" name="privacy">
                            {% endif %}                        
                            <label>Friends Only</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div>
            <h3 class="ui header">Blocked Users</h3>
            {% for user in user_data["blocked_users"] %}
                <li>
                    {{ user }}
                </li>
            {% endfor %}
        </div>
        <div>
            <h4 class="ui header">Block New User</h3>
            <form action="{{ url_for('users.block_user') }}" method="post">
                <input name="block_user" id="block_user"></input>
                <button>Submit</button>
            </form>
        </div>
        {% endif %}
            


        
    </div>
     
                
</div>


</div>




-->
<script>
    $('.ui.checkbox')
  .checkbox()
;

$('.button')
.popup({
})
;
</script>

{% endblock %}

