{% extends "layout.html" %}

{% block body %}

<!-- Nav bar -->
<nav class="ui fixed fluid borderless huge menu">
        
    <!--Header-->
    <a class="header item" href="/">
        <div class="ui basic icon">
            <i class="pointing right icon"></i>
        </div>
        Meme Messenger  
        <div class="ui basic icon">
            <i class="pointing left icon"></i>
        </div>
    </a>

    <!-- Right menu -->
    {% if user_data["view_self"] %}
        <div class="right menu">
            <a class="item" href="/message/conversation">
                Chat
                <div class="ui basic icon">
                    <i class="comments icon"></i>
                </div>
            </a>
            <!--Check if logged in first-->
            <a class="item" href="/auth/logout">
                Log Out 
                <div class="ui basic icon">
                    <i class="pointing down icon"></i>
                </div>
            </a>
        </div>
    {% endif %}
    
</nav>
    



        
<div class="ui centered  raised container  grid segment">
<div class="ui left aligned grid">


    <!--Header-->
    <div class="one column center aligned row">
        <div class = "center aligned column">
            <h3 class="ui top attached block header">
                {{ user_data["username"] }}'s Account
            </h3>
        </div>
    </div>
     
    <!--Profile pic? -->
    <div class="one column centered row">
        <div class="center aligned column container">
            <div class="ui medium centered  rounded fluid image">
                <a class="ui bottom right corner label">
                    <i class="setting icon"></i>
                </a>
                <img  class="medium centered  rounded ui image" src="/static/images/default_dog_meme.png">
            </div>
        </div>
    </div>


    <!-- Username row -->
    <div class="two column row">
        
        <div class= "left right aligned column">
            <div class="ui big label">
                Username: 
            </div>
        </div>
        
        
        <div class="right  column">
            {% if user_data["view_self"] %}
            <div class="ui action input">
                <form action="{{ url_for('users.change_username') }}" method="post">
                    <input type="text" value={{ user_data["username"] }} name="change_username">
                    <button class="ui positive basic  button" data-content="Submit a username change">
                        Change
                        <i class="setting right icon"></i>
                    </button>
                </form>
            </div>
            {% else %}
            <div class="ui big label">
                {{ user_data["username"] }}
            </div>
            {% endif %}
        </div>

    </div>
    <!-- End user name row -->
    

    <!-- Privacy row -->
    {% if user_data["view_self"] %}
    <div class="two column row">
            
        <div class="left right aligned column">
            <div class="ui big label">
                Privacy: 
            </div>
        </div>
        
        <div class="right  column">
            <div class="grouped fields">
                <div class="field">
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="radio" name="throughput" {{ "checked" if user_data["privacy"]=="friends" else None}} />
                                <label>Visible to friends</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="radio" name="throughput" {{ "checked" if user_data["privacy"]=="everyone" else None}} />
                                <label>Visible to everyone</label>
                            </div>
                        </div>
                 </div>
            </div>
        </div>

    </div>  
    <!-- End privacy row -->
    
    <!-- Blocked users rows-->
    <div class="two column row">
        <div class="left right aligned column">
            <div class="ui big label">
                Blocked Users: 
            </div>
        </div>

        <div class="right column">
            <div class="ui action input">
                <form action="{{ url_for('users.block_user') }}" method="post">
                    <input type="text" placeholder="User to block..." id="block_user" name="block_user">
                    <button class="ui negative basic  button" data-content="Block normies from messaging you">
                        Block
                        <i class="window close right icon"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="one  centered  row">
        <div class=" center aligned six wide column">
            <div class="ui container">
                {% for user in user_data["blocked_users"] %}
                <div class="top attached ui segment">
                    {{ user }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End blocked users -->
    {% endif %}
            
</div>
</div>

<script>
    $('.ui.checkbox')
  .checkbox()
;

$('.button')
.popup({
})
;

$(".slider").onChange(function(){
    $.post("{{ url_for('users.update_privacy') }}", function(data, status){
    });
});
</script>


{% endblock %}

