<!doctype html>
{% block head %}
    <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}Meme Messenger</title>
        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/semantic/dist/semantic.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/semantic/dist/semantic.min.css') }}">
{% endblock %}

{% block body %}
{% endblock %}
